## Maven:
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
/mvnw
/mvnw.bat
mvnw.cmd
/log/
*.log*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
pom.xml.bak
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties

**/target/
/target/
*/target/*
.classpath
.project
.settings

## Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

## IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## MacOs
**/.DS_Store